body{
    font-family: arial;
    margin: 0;
}

header{
    background-color: #076b6b;
    color: #fff;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 1px;
}

nav{
    background-color: #076b6b;
    padding-top: 1px;
    padding-left: 16px;
    padding-bottom: 16px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    opacity: 0.8;
    transition: 0.3s;
}

nav li a:hover{
    opacity: 1;
}

.active{
    opacity: 1;
}

.container{
    width: 90%;
    border: 1px solid #076b6b;
    border-radius: 0.35em;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
}

.row{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.col{
    width: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col img{
    width: 50px;
    border-radius: 5em;
    margin-right: 16px;
}

.btn-avaliar{
    width: 80%;
    padding: 8px;
    background-color: aliceblue;
    border-radius: 25px;
    border: 1px solid #076b6b;
    color: #076b6b;
    font-weight: bold;
    cursor: pointer;
}

.btn-avaliar:hover{
    background-color: #daf7f7; 
}

.row-title{
    display: flex;
    color: #076b6b;
    justify-content: center;
    border-radius: 0.9em;
}

.row-input{
    display: flex;
    margin-top: 16px;
}

.col-label{
    padding: 8px;
    width: 120px;
    display: flex;
    align-items: center;
}

.col-input{
    padding: 8px; 
    width: 100%;
}

.col-input input, textarea{
    width: 96%;
    border-radius: 0.35em;
    border: 2px solid #076b6b;
    background-color: #f2f8f8;
    padding: 8px;
}

.col-input button{
    width: 48%;
    padding: 8px;
    cursor: pointer;
    border-radius: 0.45em;
    
    
}

.btn-success{
    background-color: #119432;
    color: #fff;
    font-weight: bold;

}

.btn-success:hover{
    background-color: #075019;
}

.btn-danger{
    background-color: #c2310c;
    color: #fff;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #7c1e06;
}

hr{
    background-color:  #076b6b;
}

footer{
    padding: 8px;
    background-color: #076b6b;
    color: #fff;
}

footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

footer ul li {
    padding: 8px;
}

@media screen and (max-width:880px) {
    .row{
        display: block;
    }

    .col{
        width: 100%;
    }

    .col img{
        width: 40px;
    }
    
}
